<div class="cart_sidebar">
    <button type="button" class="close_btn"><i class="fa fa-times"></i></button>
    <h2 class="heading_title text-uppercase">Cart Items - <span>2</span></h2>

    <div class="cart_items_list m-1">
        <div class="cart_item">
            <div class="item_image">
                <img src="/productimg/product-625b6efd264ae4.41136895.png" alt="image_not_found" width="70" height="70">
            </div>
            <div class="item_content">
                <h4 class="item_title">
                    Coffee.
                </h4>
                <span class="item_price"><i class="fa-solid fa-peso-sign"></i>54.00</span>
                <button type="button" class="remove_btn"><i class="fa fa-times"></i></button>
            </div>
        </div>
    </div>
    <div class="cart_items_list m-1">
        <div class="cart_item">
            <div class="item_image">
                <img src="/productimg/product-625b6e1dccfcb3.39672856.jpg" alt="image_not_found" width="70" height="70">
            </div>
            <div class="item_content">
                <h4 class="item_title">
                    Vanilla Coffee.
                </h4>
                <span class="item_price"><i class="fa-solid fa-peso-sign"></i>100.00</span>
                <button type="submit" class="remove_btn"><i class="fa fa-times"></i></button>
            </div>
        </div>
    </div>
    <div class="total_price text-uppercase">
        <span>Sub Total:</span>
        <span><i class="fa-solid fa-peso-sign"></i>154.00</span>
    </div>
    <ul class="btns_group ul_li ul_li_center">
        <li><a href="cart.html" class="btn btn_primary text-uppercase">View Cart</a></li>
    </ul>
</div>
<div class="cart_sidebar_overlay"></div>