<div class="user_sidebar">
    <button type="button" class="close_btn"><i class="fa fa-times"></i></button>
    <div class="container">
        <h4 class="text-center profile_name">N/A</h4>
        <hr>
        <ul class="nav flex-column main_menu_list" style="width: 500px;">
            <li class="nav-item">
                <a class="nav-link" href="userprofile.html">
                    <i class="fa fa-user mr-2"></i>
                    My Profile
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="order.html">
                    <i class="fa-solid fa-bag-shopping mr-2"></i>
                    My Orders
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="wishlist.html">
                    <i class="fa-sharp fa-solid fa-heart mr-2"></i>
                    My Wishlist
                </a>
            </li>
        </ul>
    </div>

    </ul>
    <hr>
    <ul class="btns_group ul_li d-flex justify-content-center">
        <li><a href="#!" class="btn btn_primary text-uppercase logout">Logout</a></li>
    </ul>
</div>
<div class="user_sidebar_overlay"></div>